{{define "index"}}
{{template "page" .}}
<div class="container">
    <div class="row">
        <div class="primary-full home">
            {{$siteUrl := .SiteUrl}}

            <div class="hero">
                <h1>{{.Heading}}</h1>
            </div>

            <h2 class="section-title-xl underline">Featured</h2>
            <div class="results-grid hide-last" style="margin-bottom:6rem;">
                {{range .FeaturedPosts}}
                    <div>
                        <a href="{{$siteUrl}}/{{.Slug}}/">
                            <img width="800" height="450" class="drop-shadow" src="{{$siteUrl}}{{.ImageUrl}}" alt="{{.ImageAlt}}">
                            <p class="title">{{.Heading}}</p>
                        </a>
                        <p class="subhead text-dark-gray">{{.Description}}</p>
                    </div>
                {{end}}
            </div>

            <h2 class="section-title-xl underline">Latest Posts</h2>
            <div class="results-grid hide-last">
                {{range .Posts}}
                    <div>
                        <a href="{{$siteUrl}}/{{.Slug}}/">
                            <img width="800" height="450" class="drop-shadow" src="{{$siteUrl}}{{.ImageUrl}}" alt="{{.ImageAlt}}">
                            <p class="title">{{.Heading}}</p>
                        </a>
                        <p class="subhead text-dark-gray">{{.Description}}</p>
                    </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template "endpage" .}}
{{end}}
