{{define "footer"}}
<footer>
    <div class="container">
        <hr>

        <div class="row footer text-gray">
            <nav class="site-nav">
                <p><a class="plain" href="{{.SiteUrl}}/">Home</a></p><span>&sdot;</span>
                <!-- <p><a class="plain" href="{{.SiteUrl}}/about/">About Us</a></p><span>&sdot;</span>
                <p><a class="plain" href="{{.SiteUrl}}/contact/">Contact</a></p><span>&sdot;</span>
                <p><a class="plain" href="{{.SiteUrl}}/privacy-policy/">Privacy Policy</a></p><span>&sdot;</span>
                <p><a class="plain" href="{{.SiteUrl}}/terms-of-service/">Terms of Service</a></p>
                <p><a class="plain" href="{{.SiteUrl}}/sitemap/">Sitemap</a></p><span>&sdot;</span> -->
            </nav>

            <p>Copyright &copy; {{.Copyright}} All Rights Reserved</p>
        </div>
    </div>
</footer>
{{end}}
