{{define "footer"}}
<footer>
    <div class="container">
        <hr>

        <div class="row footer text-gray">
            <nav class="site-nav">
                {{$siteUrl := .SiteUrl}}
                {{range .FooterLinks}}
                    <p><a class="plain" href="{{$siteUrl}}{{.Route}}">{{.Text}}</a></p>
                    <span>&sdot;</span>
                {{end}}
            </nav>

            <p>Copyright &copy; {{.Copyright}} All Rights Reserved</p>
        </div>
    </div>
</footer>
{{end}}
