// --------------------------------------------------------
// The "error" template defines a 404 error and 500 error.
// --------------------------------------------------------

{{define "error"}}
{{template "page" .}}
<div class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5">


    <!-- Error Heading -->
    <div class="main-section mx-auto flex flex-col items-center space-y-4 py-5">
        <h1 class="font-black text-center text-8xl text-pink-600">{{.AppError}}</h1>
        {{if eq .AppError "404"}}
            <h2 class="font-bold text-center text-2xl text-slate-700">Oops! We couldn't find the page you are looking for.</h2>
            <div class="flex flex-col leading-relaxed  text-base text-slate-700">
                <p>The page you are looking for either does not exist or has been moved. Please check the URL again to ensure that you are visiting the correct page. Alternatively, you can go back to the <a class="font-medium underline" href="{{.SiteUrl}}">home page</a> to check out some of our featured items and latest posts.</p>
            </div>
        {{else if eq .AppError "500"}}
            <h2 class="font-bold text-2xl text-slate-700">Oops! Something unexpected happened.</h2>
        {{end}}
    </div>


    {{if .AppTrace}}
        <!-- Error Trace -->
        <hr class="my-12">
        <pre class="text-sm text-slate-700">{{.AppTrace}}</pre>
    {{end}}


    {{if .LatestPosts}}
        <!-- Latest Articles -->
        <hr class="my-12">
        {{template "post-grid" .LatestPosts}}
    {{end}}

</div>
{{template "endpage" .}}
{{end}}
