{{define "post"}}
{{template "page" .}}
<div class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5">

    <!-- Article Copy -->
    <article class="main-section">


        <!-- Article Heading -->
        <h1 class="font-bold text-3xl text-black mb-3">{{.Heading}}</h1>


        {{if .Post.IsBlog}}
            <!-- Article Metadata -->
            <div class="flex text-slate-500 space-x-2.5 pt-1 mb-8">
                {{if .Post.Updated}}
                    <p class="updated-date">Updated on {{.Post.Updated}}</p>
                {{else}}
                    <p class="publish-date">Published on {{.Post.Pubdate}}</p>
                {{end}}
                <span>&sdot;</span>
                <p class="primary font-medium underline"><a href="/category/{{.Post.Category.Slug}}/">{{.Post.Category.Title}}</a></p>
            </div>

            <!-- Article Lead Image -->
            {{if .Post.ShowLead}}
                <img class="rounded drop-shadow mb-8" width="{{.Image.Width}}" height="{{.Image.Height}}" src="{{.Image.Url}}" alt="{{.Image.Alt}}" />
            {{end}}
        {{end}}


        <!-- Article Content -->
        <div class="a26">
            {{safe .Post.Body}}
        </div>


        {{if .Post.IsBlog}}
            {{if .LatestPosts}}
                <!-- Latest Articles -->
                <hr class="my-11">
                <p class="text-xl font-bold text-black mb-6">Latest Posts</p>
                <div class="flex flex-col space-y-5">
                    {{range .LatestPosts}}
                        <p><a class="link font-medium text-lg" href="{{.Route}}">{{.Title}}</a></p>
                    {{end}}
                </div>
            {{end}}


            {{if .FeaturedPosts}}
                <!-- Featured Articles -->
                <hr class="my-11">
                <p class="text-xl font-bold text-black mb-6">You May Also Like</p>
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 lg:gap-5">
                    {{range .FeaturedPosts}}
                        <div class="space-y-2.5">
                            <a class="" href="{{.Route}}">
                                <img class="rounded" width="{{.Image.Width}}" height="{{.Image.Height}}" src="{{.Image.Url}}" alt="{{.Image.Alt}}">
                            </a>

                            <p class="primary underline font-medium text-base md:text-sm">
                                <a href="{{.Category.Route}}">{{.Category.Title}}</a>
                            </p>

                            <a class="" href="{{.Route}}">
                                <p class="pt-1.5 text-lg md:text-base font-semibold lg:font-medium leading-normal text-black">{{.Heading}}</p>
                            </a>
                        </div>
                    {{end}}
                </div>
            {{end}}
        {{end}}
    </article>
</div>
{{template "endpage" .}}
{{end}}
