{{define "navbar"}}
<header class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5      py-4 mb-8">
    <div class="flex flex-col justify-center items-center space-y-3 pb-4 border-b border-slate-200">

        <h3 class="primary font-bold text-2xl">
            <a href="/">{{.SiteName}}</a>
        </h3>

        {{if .NavbarLinks}}
            <nav class="flex flex-wrap justify-center text-slate-700">
                {{range .NavbarLinks}}
                    <p class="px-3.5 py-1 pb-1.5 hover:underline"><a href="{{.Route}}">{{.Text}}</a></p>
                {{end}}
            </nav>
        {{end}}
    </div>
</header>
{{end}}
