{{define "navbar"}}
<header class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5      py-4 mb-8">
    <div class="flex flex-col justify-center items-center space-y-3 pb-4 border-b border-slate-200">

        <h3 class="font-bold text-2xl text-indigo-600">
            <a href="{{.SiteUrl}}">{{.SiteName}}</a>
        </h3>

        <nav class="flex flex-wrap justify-center space-x-7 text-slate-700">
            {{range .NavbarLinks}}
                <p class="py-1 pb-1.5 hover:underline"><a href="{{.Route}}">{{.Text}}</a></p>
            {{end}}
        </nav>
    </div>
</header>
<style>
    .hide-last > div:last-child{display:block}
    @media (min-width: 1024px) {
        .hide-last > div:last-child{display:none}
    }

    .narrow-width{width:100%}

    @media (min-width: 768px) {
        .narrow-width {-ms-flex:0 0 94%;flex:0 0 94%;max-width:94%}
    }

    @media (min-width: 1024px) {
        .narrow-width {-ms-flex:0 0 72%;flex:0 0 72%;max-width:72%}
    }

    @media (min-width: 1280px) {
        .narrow-width {-ms-flex:0 0 65%;flex:0 0 65%;max-width:65%}
    }
</style>
{{end}}
