{{define "category"}}
{{template "page" .}}
<div class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5">

    {{$isGrid := .Display.IsGrid}}

    <div class="{{if $isGrid}}full-section{{else}}main-section{{end}}">
        <h1 class="font-bold text-3xl text-slate-800 leading-relaxed mb-8">{{.Heading}}</h1>

        {{if $isGrid}}
            {{template "post-grid" .Posts}}
        {{else}}
            {{template "post-list" .Posts}}
        {{end}}
    </div>

</div>
{{template "endpage" .}}
{{end}}
