{{define "index"}}
{{template "page" .}}
<div class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5">

    {{$isGrid := .Display.IsGrid}}

    <div class="{{if $isGrid}}full-section{{else}}main-section{{end}}">
        {{range .Sections}}

            {{if or .Category.Title (not .Category.IsEmpty)}}
                <div class="flex items-center justify-between mb-7">
                    {{if .Category.Title}}
                        <h2 class="font-bold text-3xl text-slate-800 leading-relaxed">{{.Category.Title}}</h2>
                    {{end}}

                    {{if not .Category.IsEmpty}}
                        <p class="text-slate-500">See all in <a class="link underline" href="{{.Category.Route}}">{{.Category.Title}} &raquo;</a></p>
                    {{end}}
                </div>
            {{end}}

            {{if $isGrid}}
                {{template "post-grid" .Posts}}
            {{else}}
                {{template "post-list" .Posts}}
            {{end}}

        {{end}}
    </div>

</div>
{{template "endpage" .}}
{{end}}
