{{define "post"}}
{{template "page" .}}
<div class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5">

    <!-- Article Copy -->
    <article class="main-section">


        <!-- Article Heading -->
        <h1 class="font-bold text-3xl lg:text-4xl text-slate-900 mb-3"><span class="leading-snug">{{.Heading}}</span></h1>


        {{if .Post.IsBlog}}
            <!-- Article Metadata -->
            <div class="flex text-slate-500 space-x-2.5 pt-1 mb-8">
                {{if .Post.Updated}}
                    <p class="updated-date">Updated on {{.Post.Updated}}</p>
                {{else}}
                    <p class="publish-date">Published on {{.Post.Pubdate}}</p>
                {{end}}
                <span>&sdot;</span>
                <p class="primary font-medium underline"><a href="/category/{{.Post.Category.Slug}}/">{{.Post.Category.Title}}</a></p>
            </div>

            <!-- Article Lead Image -->
            {{if .Post.ShowLead}}
                <img class="rounded-none drop-shadow-none mb-8" width="{{.Image.Width}}" height="{{.Image.Height}}" src="{{.Image.Url}}" alt="{{.Image.Alt}}" />
            {{end}}
        {{end}}


        <!-- Article Content -->
        <div class="a26">
            {{safe .Post.Body}}
        </div>


        {{if .Post.IsBlog}}
            {{$currentPostSlug := .Post.Slug}}

            {{if .LatestPosts}}
                <!-- Latest Articles -->
                <hr class="my-11">
                <p class="text-xl font-bold text-slate-900 mb-6">Latest Posts</p>
                <div class="flex flex-col space-y-5">
                    {{range .LatestPosts}}
                        {{if ne .Slug $currentPostSlug}}
                            <p><a class="link font-medium text-base md:text-lg" href="{{.Route}}">{{.Heading}}</a></p>
                        {{end}}
                    {{end}}
                </div>
            {{end}}

            {{if .RelatedPosts}}
                {{$isGrid := .Display.IsGrid}}

                <!-- Related Articles -->
                <hr class="my-11">

                <p class="text-xl font-bold text-slate-900 mb-6">You May Also Like</p>
                {{if $isGrid}}
                    {{template "post-related-grid" .RelatedPosts}}
                {{else}}
                    {{template "post-related-list" .RelatedPosts}}
                {{end}}
            {{end}}
        {{end}}
    </article>
</div>
{{template "endpage" .}}
{{end}}
