{{define "sitemap"}}
{{template "page" .}}
<div class="w-full mx-auto sm:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-5">

    <div class="main-section mx-auto flex flex-col space-y-7">

        <h1 class="font-bold text-3xl text-slate-900">{{.Heading}}</h1>

        {{range .Posts}}
            <div class="w-full flex flex-col sm:flex-row items-start sm:items-center">

                <p class="w-full w-9/12">
                    <a class="link text-lg font-medium" href="{{.Route}}">{{.Heading}}</a>
                </p>

                <p class="w-full w-3/12 flex justify-start sm:justify-end text-slate-400">
                    {{if .Updated}}{{.Updated}}{{else}}{{.Pubdate}}{{end}}
                </p>

            </div>
        {{end}}

        <p class="text-base text-slate-700">Total {{len .Posts}} Posts</p>

    </div>
</div>
{{template "endpage" .}}
{{end}}
